Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

fix: early stopping test and average precision metric
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fix: java params patch (#1027)
  project/Secrets.scala
  src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
Due: scala

fix: refactor python wrappers to use common class (#758)
  src/main/python/mmlspark/lightgbm/LightGBMClassificationModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRankerModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressionModel.py
  src/main/python/mmlspark/lightgbm/mixin.py
Due: python

fix: early stopping test and average precision metric (#1034)
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

Update pr.yml
  .github/workflows/pr.yml
Due: none

feat: added chunk size parameter for copying java data to native
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

feat: added chunk size parameter for copying java data to native (#1041)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

fix error
  notebooks/samples/LightGBM - Bankruptcy Prediction with LightGBM Classification.ipynb
Due: none

add VW classification sample
  notebooks/samples/Vowpal Wabbit - Heart Disease Detection.ipynb
Due: none

add LightGBM classification sample
  notebooks/samples/LightGBM - Bankruptcy Prediction with LightGBM Classification.ipynb
Due: none

add cognitive services for big data sample
  notebooks/samples/Cognitive Services for Big Data.ipynb
Due: none

fix tiny error
  notebooks/samples/Cognitive Services for Big Data.ipynb
Due: none

update LightGBM samples
  notebooks/samples/LightGBM Samples.ipynb
Due: none

update samples
  notebooks/samples/Cognitive Services for Big Data.ipynb
  notebooks/samples/LightGBM Samples.ipynb
  notebooks/samples/Vowpal Wabbit - Heart Disease Detection.ipynb
  notebooks/samples/Vowpal Wabbit Samples.ipynb
Due: none

merge master
  .gitignore
Due: none

fix link
  notebooks/samples/Cognitive Services for Big Data.ipynb
Due: none

feat: add several parameters related to dart boosting type
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

feat: add several parameters related to dart boosting type (#1045)
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainParams.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

fix: Bing search URL update
  src/main/scala/com/microsoft/ml/spark/cognitive/BingImageSearch.scala
Due: scala

update comments
  notebooks/samples/Cognitive Services for Big Data.ipynb
Due: none

fix: Bing search URL update
  src/main/scala/com/microsoft/ml/spark/cognitive/BingImageSearch.scala
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ImageSearchSuite.scala
Due: scala

Update Classification - Adult Census.ipynb
  notebooks/samples/Classification - Adult Census.ipynb
Due: none

update BingImageSearch calling to fix test errors
  notebooks/samples/Cognitive Services for Big Data.ipynb
  notebooks/samples/CognitiveServices - Celebrity Quote Analysis.ipynb
  notebooks/samples/ModelInterpretation - Snow Leopard Detection.ipynb
Due: none

update: update synapse workspace and storage account
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

update: update synapse workspace and storage account
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

fix: Bing search URL update (#1048)
  src/main/scala/com/microsoft/ml/spark/cognitive/BingImageSearch.scala
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ImageSearchSuite.scala
Due: scala

update: update synapse workspace and storage account
  notebooks/samples/ModelInterpretation - Snow Leopard Detection.ipynb
  notebooks/samples/Regression - Flight Delays.ipynb
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

update: update synapse workspace and storage account
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

update samples
  notebooks/samples/Cognitive Services Overview.ipynb
  notebooks/samples/CognitiveServices - Celebrity Quote Analysis.ipynb
  notebooks/samples/LightGBM Overview.ipynb
  notebooks/samples/ModelInterpretation - Snow Leopard Detection.ipynb
  notebooks/samples/Vowpal Wabbit Overview.ipynb
Due: none

update VW sample
  notebooks/samples/Vowpal Wabbit Overview.ipynb
Due: none
