Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

Adding explainers unit tests to CI pipeline
  pipeline.yaml
Due: none

Style fix
  src/main/scala/com/microsoft/ml/spark/explainers/BreezeUtils.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/RegressionBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
Due: scala

Support multiple explain targets
  src/main/scala/com/microsoft/ml/spark/explainers/BreezeUtils.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SharedParams.scala
  src/test/scala/com/microsoft/ml/spark/explainers/HasExplainTargetSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
Due: scala

Reorganize the tests and add fuzzing test support
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPSuite.scala
Due: none

Return coefficients as array of row vectors rather than matrix
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
Due: scala

Style fix
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPSuite.scala
Due: scala

Unit test issues
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
Due: none

Change to transformer fuzzing
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: none

unit test OOM issue
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
Due: none

Set mini batch size to 1 to prevent OOM in unit test
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
Due: none

Rename test suites to avoid name conflicts with old classes
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: scala

oom issue
  src/main/scala/com/microsoft/ml/spark/explainers/LeastSquaresRegression.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
Due: scala

debugging python test failure
  src/main/scala/com/microsoft/ml/spark/core/utils/ModelEquality.scala
Due: scala

Change backgroundData to DataFrameParam and remove unneeded python wrapper
  src/main/python/mmlspark/explainers/HasBackgroundData.py
  src/main/python/mmlspark/explainers/TabularLIME.py
  src/main/python/mmlspark/explainers/TabularSHAP.py
  src/main/python/mmlspark/explainers/VectorLIME.py
  src/main/python/mmlspark/explainers/VectorSHAP.py
  src/main/scala/com/microsoft/ml/spark/explainers/HasBackgroundData.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SharedParams.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: scala, python

clean up
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPSuite.scala
Due: none

Addressing code review comments
  src/main/scala/com/microsoft/ml/spark/explainers/ImageExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SharedParams.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
Due: scala

Excluding SerializationFuzzing for SHAP suites due to error caused by randomness in explanation after deserialization.
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: none

OOM in unit test
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
Due: none

more...
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: none

code review comments
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: none

use string constants
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
Due: scala

Code review feedback
  src/main/scala/com/microsoft/ml/spark/explainers/SharedParams.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPExplainerSuite.scala
Due: scala

sort
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: none

background dataframe should be mandatory.
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMEExplainerSuite.scala
Due: scala

Rename Spark vector imports
  src/main/scala/com/microsoft/ml/spark/explainers/BreezeUtils.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SamplerSupport.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SharedParams.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
  src/test/scala/com/microsoft/ml/spark/core/test/base/TestBase.scala
  src/test/scala/com/microsoft/ml/spark/explainers/HasExplainTargetSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LassoRegressionSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LeastSquaresRegressionSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularSHAPExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TextExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: scala

more...
  src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
Due: scala

Code review feedback
  src/main/scala/com/microsoft/ml/spark/explainers/ImageExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextExplainer.scala
  src/test/scala/com/microsoft/ml/spark/core/test/base/TestBase.scala
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/FuzzingTest.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LassoRegressionSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LeastSquaresRegressionSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: scala

Clean up printlns
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

code review feedbacks
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
Due: scala

Change regression base to support sparse vector as well
  src/main/scala/com/microsoft/ml/spark/explainers/RegressionBase.scala
Due: scala

WIP: Rewrite sampler for kernel SHAP
  src/main/scala/com/microsoft/ml/spark/core/utils/RowUtils.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPSampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMESampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SamplerSupport.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
  src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSamplerSupportSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSupportSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Rewrite tabular LIME sampler to support non-numerial types
  src/main/scala/com/microsoft/ml/spark/explainers/FeatureStats.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
Due: scala

Extracting slicer function
  src/main/scala/com/microsoft/ml/spark/core/utils/RowUtils.scala
  src/main/scala/com/microsoft/ml/spark/core/utils/SlicerFunctions.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SharedParams.scala
  src/test/scala/com/microsoft/ml/spark/core/utils/SlicerFunctionsSuite.scala
Due: scala

Add header
  src/test/scala/com/microsoft/ml/spark/core/utils/SlicerFunctionsSuite.scala
Due: none

Add file header, fixing unit tests.
  src/main/scala/com/microsoft/ml/spark/core/utils/SlicerFunctions.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMESampler.scala
  src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/TabularLIMEExplainerSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/VectorLIMEExplainerSuite.scala
Due: scala

Add unit test to compare shap explainer with kernel explainer from https://github.com/slundberg/shap
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: none

Fixing unit test
  src/test/scala/com/microsoft/ml/spark/explainers/VectorSHAPExplainerSuite.scala
Due: none

update: remove Has trait
  src/main/scala/com/microsoft/ml/spark/cognitive/AnomolyDetection.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/CognitiveServiceBase.scala
Due: scala

draft of keyphrase extraction endpoint
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
Due: scala

cleaned up
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSDK.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSDKSuite.scala
Due: scala
