Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

update: gated build bug fix
  .gitignore
  notebooks/samples/ModelInterpretation - Snow Leopard Detection.ipynb
  notebooks/samples/Regression - Flight Delays.ipynb
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

update: ready to PR
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

update: ready to PR
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

bugfix: http failures
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

bugfix: reduce pool number
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
Due: none

bugfix: change to E2E
  pipeline.yaml
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
Due: none

add build version into log
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

feat: Add R wrapper gen
  .gitignore
  build.sbt
  environment.yaml
  pipeline.yaml
  project/build.scala
  src/main/R/ml_utils.R
  src/main/R/model_downloader.R
  src/main/scala/com/microsoft/ml/spark/codegen/CodegenConfig.scala
  src/main/scala/com/microsoft/ml/spark/codegen/GenerationUtils.scala
  src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  src/main/scala/org/apache/spark/ml/param/DataFrameParam.scala
  src/main/scala/org/apache/spark/ml/param/EstimatorParam.scala
  src/main/scala/org/apache/spark/ml/param/JsonEncodableParam.scala
  src/main/scala/org/apache/spark/ml/param/PythonWrappableParam.scala
  src/main/scala/org/apache/spark/ml/param/RWrappableParam.scala
  src/test/R/testthat.R
  src/test/R/testthat/setup-spark.R
  src/test/R/testthat/test-basic.R
  src/test/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
  src/test/scala/com/microsoft/ml/spark/codegen/SparklyRWrapper.scala
  src/test/scala/com/microsoft/ml/spark/codegen/WrapperGenerator.scala
  src/test/scala/com/microsoft/ml/spark/codegen/WritableWrapper.scala
  src/test/scala/com/microsoft/ml/spark/core/test/fuzzing/Fuzzing.scala
  tools/tests/run_r_tests.R
Due: scala

fix: refactor python wrappers to use common class
  src/main/python/mmlspark/lightgbm/LightGBMClassificationModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRankerModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressionModel.py
  src/main/python/mmlspark/lightgbm/mixin.py
Due: python

docs: add lightgbm ranker notebook example
  notebooks/samples/LightGBM - Ranking with LambdaRank.ipynb
Due: none

Create ado-integration.yml
  .github/workflows/ado-integration.yml
Due: none

Create ado-integration.yml (#1039)
  .github/workflows/ado-integration.yml
Due: none

Update ado-integration.yml
  .github/workflows/ado-integration.yml
Due: none

Create ado-pr-integration
  .github/workflows/ado-pr-integration
Due: none

Rename ado-pr-integration to ado-pr-integration.yml
  .github/workflows/ado-pr-integration.yml
Due: none

Update ado-pr-integration.yml
  .github/workflows/ado-pr-integration.yml
Due: none

Delete ado-pr-integration.yml
  .github/workflows/ado-pr-integration.yml
Due: none

Create pr.yml
  .github/workflows/pr.yml
Due: none

fix: java params patch
  project/Secrets.scala
  src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
Due: scala
