Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

fix: Fix performance slip in Featurize
  src/main/scala/com/microsoft/ml/spark/featurize/Featurize.scala
  src/test/resources/benchmarks/benchmarks_VerifyTrainClassifier.csv
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala

chore: fix badge publishing
  pipeline.yaml
Due: none

UPDATE: adding more logs
  src/main/scala/com/microsoft/ml/spark/stages/MiniBatchTransformer.scala
  src/main/scala/com/microsoft/ml/spark/stages/StratifiedRepartition.scala
  src/main/scala/com/microsoft/ml/spark/stages/SummarizeData.scala
  src/main/scala/com/microsoft/ml/spark/stages/TextPreprocessor.scala
  src/main/scala/com/microsoft/ml/spark/stages/Timer.scala
  src/main/scala/com/microsoft/ml/spark/stages/UDFTransformer.scala
  src/main/scala/com/microsoft/ml/spark/stages/UnicodeNormalize.scala
  src/main/scala/com/microsoft/ml/spark/train/ComputeModelStatistics.scala
  src/main/scala/com/microsoft/ml/spark/train/ComputePerInstanceStatistics.scala
  src/main/scala/com/microsoft/ml/spark/train/TrainClassifier.scala
  src/main/scala/com/microsoft/ml/spark/train/TrainRegressor.scala
  src/main/scala/com/microsoft/ml/spark/vw/VectorZipper.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitClassifier.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitContextualBandit.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitInteractions.scala
  src/main/scala/com/microsoft/ml/spark/vw/VowpalWabbitRegressor.scala
  src/main/scala/org/apache/spark/sql/types/injections/OptimizedCKNNFitting.scala
Due: scala

perf: moving to new streaming API for dense data to reduce memory usage
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMDataset.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

fix: reduce verbosity to prevent RPC disassociated errors
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

UPDATE: add more logs
  src/main/scala/com/microsoft/ml/spark/featurize/CountSelector.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBase.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
Due: scala

update: add synapse test framework
  src/test/scala/com/microsoft/ml/spark/nbtest/LivyUtilities.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
Due: none

update: add synapse test framework
  src/test/scala/com/microsoft/ml/spark/nbtest/LivyUtilities.scala
Due: none

perf: tune chunking code, fix memory leak
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMUtils.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
Due: scala

fix: fix conversation transcription participant column functionality
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/TextAnalyticsSuite.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split3/SpeechToTextSDKSuite.scala
Due: scala

fix: fix issue with r bindings silently failing
  build.sbt
  src/test/scala/com/microsoft/ml/spark/codegen/CodeGen.scala
Due: none

fix fitGeneric function error
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

fix style error
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
  src/main/scala/com/microsoft/ml/spark/featurize/Featurize.scala
  src/main/scala/com/microsoft/ml/spark/featurize/text/TextFeaturizer.scala
  src/main/scala/com/microsoft/ml/spark/isolationforest/IsolationForest.scala
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

delete useless test
  src/test/scala/com/microsoft/ml/spark/logging/LoggingTest.scala
Due: none

feat: add num iteration and start iteration to lightgbm model
  src/main/python/mmlspark/lightgbm/LightGBMClassificationModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRankerModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressionModel.py
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala, python

rename
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

fix comments, add more getters from booster
  src/main/python/mmlspark/lightgbm/LightGBMClassificationModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRankerModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressionModel.py
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMConstants.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala, python

updates best iteration to be set in learner based on comments
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
Due: scala

feat: add num iteration and start iteration to lightgbm model (#1024)
  src/main/python/mmlspark/lightgbm/LightGBMClassificationModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRankerModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressionModel.py
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMClassifier.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMConstants.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMModelMethods.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMParams.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRanker.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMRegressor.scala
  src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: scala, python

change log message to JSON format
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

Path conditions:
  scala: any of: src/main/scala
  python: any of: src/main/python
