Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

Unit tests: Simple regression model with continuous variables working
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/RegressionBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

LIME image sampler
  src/main/scala/com/microsoft/ml/spark/explainers/HasSamplingFraction.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/io/image/ImageUtils.scala
  src/main/scala/com/microsoft/ml/spark/lime/Superpixel.scala
  src/test/resources/greyhound.jpg
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Unit tests: Categorical variable working
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Clean up and reorganize classes
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/RegressionBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/RowUtils.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
Due: scala

WIP: Image LIME
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Unit test for Text LIME
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
Due: scala

More refactoring
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Add support for binary type images
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
Due: scala

Validate input schema
  src/main/scala/com/microsoft/ml/spark/explainers/HasSamplingFraction.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
Due: scala

Efficiency fix for ImageLIME
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

WIP: TextLIME
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Image LIME: unit test passing
  src/main/scala/com/microsoft/ml/spark/explainers/BreezeUtils.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

More restructuring
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SharedParams.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Reorganize classes
  src/main/scala/com/microsoft/ml/spark/explainers/HasBackgroundData.scala
  src/main/scala/com/microsoft/ml/spark/explainers/HasModel.scala
  src/main/scala/com/microsoft/ml/spark/explainers/HasNumSamples.scala
  src/main/scala/com/microsoft/ml/spark/explainers/HasSamplingFraction.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SharedParams.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
Due: scala

renames
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
Due: scala

WIP: Vector SHAP
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
Due: scala

KernelSHAP sampler
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPSupport.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSupportSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

ImageSHAP and TextSHAP
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
Due: scala

Simplify sampler class structure
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Unit test for vector kernel shap
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
Due: none

WIP: TabularSHAP
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
Due: scala

ImageLIME unit test
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
Due: scala

Restructure the samplers
  src/main/scala/com/microsoft/ml/spark/explainers/FeatureStats.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SamplerSupport.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSupportSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

KernelSHAP Vector Sampler
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPSupport.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSupportSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Unit tests for image and text samplers
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: none

Unit test for KernelSHAP tabular
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

JDK 1.8 compatible
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: none

change LocalExplainer to internal class
  src/main/python/mmlspark/explainers/ImageLIME.py
  src/main/python/mmlspark/explainers/ImageSHAP.py
  src/main/python/mmlspark/explainers/TabularLIME.py
  src/main/python/mmlspark/explainers/TabularSHAP.py
  src/main/python/mmlspark/explainers/TextLIME.py
  src/main/python/mmlspark/explainers/TextSHAP.py
  src/main/python/mmlspark/explainers/VectorLIME.py
  src/main/python/mmlspark/explainers/VectorSHAP.py
  src/main/python/mmlspark/explainers/_LocalExplainer.py
  src/main/python/mmlspark/explainers/__init__.py
Due: python

Unit test for TextSHAP
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SamplerSupport.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
Due: scala

pyspark layer
  src/main/python/mmlspark/explainers/ImageLIME.py
  src/main/python/mmlspark/explainers/ImageSHAP.py
  src/main/python/mmlspark/explainers/LocalExplainer.py
  src/main/python/mmlspark/explainers/TabularLIME.py
  src/main/python/mmlspark/explainers/TabularSHAP.py
  src/main/python/mmlspark/explainers/TextLIME.py
  src/main/python/mmlspark/explainers/TextSHAP.py
  src/main/python/mmlspark/explainers/VectorLIME.py
  src/main/python/mmlspark/explainers/VectorSHAP.py
  src/main/python/mmlspark/explainers/__init__.py
  src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
Due: scala, python

Update copyright
  src/main/python/mmlspark/explainers/ImageLIME.py
  src/main/python/mmlspark/explainers/ImageSHAP.py
  src/main/python/mmlspark/explainers/TabularLIME.py
  src/main/python/mmlspark/explainers/TabularSHAP.py
  src/main/python/mmlspark/explainers/TextLIME.py
  src/main/python/mmlspark/explainers/TextSHAP.py
  src/main/python/mmlspark/explainers/VectorLIME.py
  src/main/python/mmlspark/explainers/VectorSHAP.py
  src/main/python/mmlspark/explainers/_LocalExplainer.py
  src/main/python/mmlspark/explainers/__init__.py
  src/main/scala/com/microsoft/ml/spark/explainers/BreezeUtils.scala
  src/main/scala/com/microsoft/ml/spark/explainers/FeatureStats.scala
  src/main/scala/com/microsoft/ml/spark/explainers/HasBackgroundData.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LassoRegression.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LeastSquaresRegression.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/RegressionBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/RowUtils.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SamplerSupport.scala
  src/main/scala/com/microsoft/ml/spark/explainers/SharedParams.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSupportSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LassoRegressionSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LeastSquaresRegressionSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala, python

Performance: Repartition samples
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
Due: scala

Logging
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

Bug fix for tabular LIME categorical features
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

Bug fix
  src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
Due: scala

Explainers inherit from Transformer, implements readable/writable traits
  src/main/python/mmlspark/explainers/HasBackgroundData.py
  src/main/python/mmlspark/explainers/ImageLIME.py
  src/main/python/mmlspark/explainers/ImageSHAP.py
  src/main/python/mmlspark/explainers/TabularLIME.py
  src/main/python/mmlspark/explainers/TabularSHAP.py
  src/main/python/mmlspark/explainers/TextLIME.py
  src/main/python/mmlspark/explainers/TextSHAP.py
  src/main/python/mmlspark/explainers/VectorLIME.py
  src/main/python/mmlspark/explainers/VectorSHAP.py
  src/main/python/mmlspark/explainers/_LocalExplainer.py
  src/main/python/mmlspark/explainers/__init__.py
  src/main/scala/com/microsoft/ml/spark/codegen/Wrappable.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/ImageSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LocalExplainer.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorSHAP.scala
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSuite.scala
  src/test/scala/com/microsoft/ml/spark/explainers/LIMESuite.scala
Due: scala, python

Bug fix
  src/main/scala/com/microsoft/ml/spark/explainers/FeatureStats.scala
  src/main/scala/com/microsoft/ml/spark/explainers/Sampler.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TabularLIME.scala
  src/main/scala/com/microsoft/ml/spark/explainers/VectorLIME.scala
  src/test/scala/com/microsoft/ml/spark/explainers/SamplerSuite.scala
Due: scala

More unit test and style fix
  src/main/scala/com/microsoft/ml/spark/explainers/SamplerSupport.scala
  src/main/scala/com/microsoft/ml/spark/explainers/TextSHAP.scala
  src/test/scala/com/microsoft/ml/spark/explainers/KernelSHAPSupportSuite.scala
Due: scala

Performance: join hint for LHS of the join
  src/main/scala/com/microsoft/ml/spark/explainers/KernelSHAPBase.scala
  src/main/scala/com/microsoft/ml/spark/explainers/LIMEBase.scala
Due: scala

More unit test fixes
  src/test/scala/com/microsoft/ml/spark/explainers/ImageExplainersSuite.scala
Due: none
