Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

chore: update build to new subscription
  README.md
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/DatabricksUtilities.scala
Due: none

Update pipeline.yaml for Azure Pipelines
  pipeline.yaml
Due: none

chore: update build to new subscription (#991)
  README.md
  src/test/scala/com/microsoft/ml/spark/Secrets.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/DatabricksUtilities.scala
Due: none

fix: Fix read schemas (#988)
  build.sbt
  pipeline.yaml
  src/main/scala/com/microsoft/ml/spark/cognitive/OCRSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Due: scala

fix: cleanup python tests
  build.sbt
  pipeline.yaml
  src/main/scala/com/microsoft/ml/spark/cognitive/OCRSchemas.scala
  src/main/scala/com/microsoft/ml/spark/cognitive/TextAnalyticsSchemas.scala
  src/test/scala/com/microsoft/ml/spark/cognitive/split1/ComputerVisionSuite.scala
Due: scala

fix: cleanup python tests
  src/main/python/mmlspark/recommendation/__init__.py
  src/main/python/setup.py
  src/test/python/mmlsparktest/recommendation/test_ranking.py
Due: python

fix: cleanup python tests (#994)
  src/main/python/mmlspark/recommendation/__init__.py
  src/main/python/setup.py
  src/test/python/mmlsparktest/recommendation/test_ranking.py
Due: python

Update CODEOWNERS
  CODEOWNERS
Due: none

fix: adding more recommendation code owners
  CODEOWNERS
Due: none

fix: adding more recommendation code owners (#996)
  CODEOWNERS
Due: none

feat: wrapping early version of reco-utils
  environment.yaml
  notebooks/samples/RecoUtils.ipynb
  src/main/python/mmlspark/recommendation/RecoUtils.py
  src/test/python/mmlsparktest/recommendation/test_reco_utils.py
Due: python

azure build pipeline hotfix
  build.sbt
Due: none

fix: azure pipeline not able to upload whl file to blob
  build.sbt
Due: none

fix: fix upload python whl file to blob(#1000)
  build.sbt
Due: none

fix: Add ffmpeg time limit enforcing for flaky streams
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
Due: scala

fix: Add ffmpeg time limit enforcing for flaky streams (#1001)
  src/main/scala/com/microsoft/ml/spark/cognitive/SpeechToTextSDK.scala
Due: scala

Update RecoUtils.ipynb
  notebooks/samples/RecoUtils.ipynb
Due: none

Update test_reco_utils.py
  src/test/python/mmlsparktest/recommendation/test_reco_utils.py
Due: none

chore:remove flaky LGBMtest
  src/test/scala/com/microsoft/ml/spark/lightgbm/split1/VerifyLightGBMClassifier.scala
Due: none

Update developer-readme.md
  docs/developer-readme.md
Due: none

Update pipeline.yaml for Azure Pipeline
  pipeline.yaml
Due: none

build: update Azure build pipeline
  pipeline.yaml
Due: none

build: update Azure build Pipeline
  pipeline.yaml
Due: none
