Repository microsoft/SynapseML: changes, and which Codecov flags are due for each by the changed paths.
All: scala, python

codecov.yaml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default: off
      scala:
        flags: scala
        target: auto
      python:
        flags: python
        target: auto
    patch:
      default: off
    changes: no

flags:
  scala:
    paths:
      - src/main/scala
  python:
    paths:
      - src/main/python

fix style
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

Check for issues with codecov security threat
  pipeline.yaml
Due: none

refactor BasicLogging functions
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

add convert
  notebooks/samples/Classification - Adult Census with Vowpal Wabbit.ipynb
  notebooks/samples/CyberML - Anomalous Access Detection.ipynb
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

update: format code
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

bugfix: upload and submit job
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

chore: update to lightgbm 3.2.110
  build.sbt
Due: none

update: update spark job setting
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

fix: missing returns in new python lightgbm model methods
  src/main/python/mmlspark/lightgbm/LightGBMClassificationModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRankerModel.py
  src/main/python/mmlspark/lightgbm/LightGBMRegressionModel.py
Due: python

fix: log messages wrong in kusto
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

remove unused packages
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

update: update ipynb files
  notebooks/samples/AzureSearchIndex - Met Artworks.ipynb
  notebooks/samples/Classification - Adult Census with Vowpal Wabbit.ipynb
  notebooks/samples/Classification - Adult Census.ipynb
  notebooks/samples/Classification - Before and After MMLSpark.ipynb
  notebooks/samples/Classification - Twitter Sentiment with Vowpal Wabbit.ipynb
  notebooks/samples/CognitiveServices - Celebrity Quote Analysis.ipynb
  notebooks/samples/CyberML - Anomalous Access Detection.ipynb
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

bugfix: synapse job bugfix
  notebooks/samples/Classification - Adult Census with Vowpal Wabbit.ipynb
  notebooks/samples/Classification - Adult Census.ipynb
  notebooks/samples/Classification - Before and After MMLSpark.ipynb
  notebooks/samples/HttpOnSpark - Working with Arbitrary Web APIs.ipynb
  notebooks/samples/LightGBM - Quantile Regression for Drug Discovery.ipynb
  notebooks/samples/ModelInterpretation - Snow Leopard Detection.ipynb
  notebooks/samples/OpenCV - Pipeline Image Transformations.ipynb
  notebooks/samples/Regression - Auto Imports.ipynb
  notebooks/samples/Regression - Flight Delays with DataCleaning.ipynb
  notebooks/samples/Regression - Flight Delays.ipynb
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
  notebooks/samples/SparkServing - Deploying a Classifier.ipynb
  notebooks/samples/TextAnalytics - Amazon Book Reviews with Word2Vec.ipynb
  notebooks/samples/TextAnalytics - Amazon Book Reviews.ipynb
  notebooks/samples/Vowpal Wabbit - Quantile Regression for Drug Discovery.ipynb
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

update: PROD to PPE
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

bugfix: fix bug
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

bugfix: build bug
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
Due: none

bugfix: linux test run
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
Due: none

update: sorted python files
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

bugfix: use absolute path
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

modify log message format
  src/main/scala/com/microsoft/ml/spark/logging/BasicLogging.scala
Due: scala

update: update pipeline.yaml
  pipeline.yaml
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
Due: none

update: update pipeline.yaml
  notebooks/samples/Classification - Adult Census.ipynb
  notebooks/samples/LightGBM - Quantile Regression for Drug Discovery.ipynb
  notebooks/samples/ModelInterpretation - Snow Leopard Detection.ipynb
  notebooks/samples/Regression - Flight Delays.ipynb
  notebooks/samples/Regression - Vowpal Wabbit vs. LightGBM vs. Linear Regressor.ipynb
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

update: gated build bug fix
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

bugfix: fix job failed bug
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseUtilities.scala
Due: none

bugfix: fix job failed bug
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
Due: none

update: gated build bug fix
  notebooks/samples/CyberML - Anomalous Access Detection.ipynb
Due: none

update: gated build bug fix
  src/test/scala/com/microsoft/ml/spark/nbtest/SynapseTests.scala
Due: none
